nav {
  font-size: 20px;
  /* font-weight: bold; */
  color: white;
  background-color: transparent !important;
  /* border-bottom: 1px solid; */
}

nav a {
  text-decoration: none;
  color: white !important;
  font-size: 14px !important;
}
/* i {
  color: white;
} */

@media only screen and (max-width: 600px) {
  /* Small screen, non-retina */
  .social-icon {
    display: none;
  }
}
