.foot-courses-list > ul li {
  padding: 5px 0px;
}

.parallax {
  /* The image used */
  background-image: linear-gradient(
    to right,
    rgba(150, 107, 107, 0),
    rgb(197, 117, 117)
  );

  /* Set a specific height */
  max-height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
