body {
  color: #ffffff;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  /* color: #333;
    background-color: #fff; */
}
a,
Link {
  text-decoration: none;
  color: inherit;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: x-large;
}
h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 28px;
}

.hr-line {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 55%,
    rgba(252, 176, 69, 1) 100%
  );
}

.header-container {
  background-color: #2b2a2a;
}
.header {
  display: flex;
  justify-content: flex-end;
  font-family: Montserrat;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  padding: 5px;
  width: 95%;
  /* font-size: 12px; */
}
